

<h2>PagUsuario</h2>

<div>
    <button type="button" class="btn btn-primary btn-block">Vizualizar sugetoes de Exercicios</button>
</div>
<label>      </label>
<div>
    <button type="button" class="btn btn-primary btn-block">Vizualizar sugestoes de receitas</button>
</div>
<label>     </label>
<div>
    <button type="button" class="btn btn-primary btn-block">Vizualizar prescricoes</button>
</div>
<label>    </label>
<div>
    <button type="button" class="btn btn-primary btn-block">Vizualizar gráfico semanal</button>
</div>
<label>   </label>
<div>
    <button type="button" class="btn btn-primary btn-block">Vizualizar informacoes das doencas</button>
</div>





